{% extends 'base.html' %} {% block content %}

<div>
    <h1 class="text-center mt-3 mb-3"> Don Polski Restaurant</h1>
</div>

<div>
    <h3 class="text-center mt-3 mb-3"><em>Witamy</em> - Welcome!</h3>
    <br>
    <p class="text-center">Welcome to our family run restaurant, where you can sample the very best Polish traditional cooking!</p>
</div>

<div>
    <h4>About Us:</h4>
    <p>Situated in the heart of Clevedon, Don Polski has been serving delicious Polish food for over forty years. Jan Cebuka opened the restaurant in 1969. His aim was to serve the food of his beloved homeland to his fellow country men and to introduce his new homeland to the hearty taste of Polish food. Jan’s children Zosia and Pawel  took over the running of the restaurant and have now handed over the reins to the next generation of the family, Pawel’s son, Tomek .
</p>
</div>

<div class="d-grid gap-2 col-2 mx-auto">
    {% if user.is_authenticated %}
    <p class="text-center">Book a table with us now!</p>
    <a href="{% url 'book_table' %}" class="btn btn-success mx-auto">Book Now!</a>
    {% else %}
    <p class="text-center"> Sign up or Log in to book a table with us now!</p>
    <a href="{% url 'account_signup' %}" class="btn btn-success">Sign Up</a>
    <a href="{% url 'account_login' %}" class="btn btn-secondary">Log in</a>
    {% endif %}
</div>

{% endblock %}