/* Global styles */

.navbar {
    background-color: forestgreen;
    color: whitesmoke;
}

.navbar-brand {
    color: whitesmoke;
}

.nav-link {
    color:whitesmoke;
}

.footer {
    background-color: forestgreen;
    color: whitesmoke;
}