/* Global styles */


/* Navbar Styles */

.navbar {
    background-color: forestgreen;
    color: whitesmoke;
}

.navbar-brand {
    color: whitesmoke;
}

.nav-link {
    color:whitesmoke;
}

/* Footer Styles */

.footer {
    background-color: forestgreen;
    color: whitesmoke;
}