/* Google Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Kings&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Kings", cursive;
}

/* Global styles */

body {
    font-family: var(--primary-font)
}

h1 {
    font-family: var(--secondary-font);
}

/* Navbar Styles */

.navbar {
    background-color: forestgreen;
    color: whitesmoke;
}

.navbar-brand {
    color: whitesmoke;
    font-family: var(--secondary-font);
}

.nav-link {
    color:whitesmoke;
}

/* Home page */

#home-image {
    height: 50%;
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Footer Styles */

.footer {
    background-color: forestgreen;
    color: whitesmoke;
}